body{
    background-color: skyblue;
}

h1{
    font-size: 50px;
    text-align: center;
}

#paragraph2{
    line-height: 1.3em;
    width: 840px;          
    padding: 25px;
    border: 4px solid green;
    background-color: white;
    margin: 10px 0 10px 20px;  
}

.blue{
    color: white;
    background-color: navy;  
    padding: 18px;
    margin: 16px 0;
    border: 1px solid black;
}
ol{
    list-style-type: decimal-leading-zero;
}
a[href*="w3schools"]{
    color: red;
}
table{
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 6px;
}

th{
    background-color: lightgray;
}
